{% extends 'blog/base.html' %}
{% block content %}
<div class="col-sm-10 my-5">
    <h3 class="text-white">About Page</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis blanditiis quae, repudiandae quibusdam eos
        doloremque ipsa quisquam beatae nobis atque optio consequatur reiciendis dicta possimus. Assumenda minus omnis
        rem laboriosam dolorem beatae tempore suscipit debitis, nam facilis blanditiis, repudiandae dignissimos culpa
        asperiores labore odio vero eligendi. Inventore natus reprehenderit deleniti ducimus, minus nobis animi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ex numquam cupiditate, blanditiis tempore odio
        qui pariatur sint dolores accusantium excepturi, accusamus tenetur.</p>
</div>
{% endblock content %}